body{
	background: #2f3536;
	color: #ffcc54;
	text-align: center;	
}


h1{
	font-size: 40px;
}

h3{
	font-size: 20px;
}

p{
	font-size: 22px;
}

.fa,
a {
    margin: 5px;
    font-size: 30px;
    color: #ffcc54;
    text-decoration: none;
}

.fa:hover {
    margin: 5px;
    font-size: 30px;
    color: #c89b20;
    text-decoration: none;
}

p a:hover{
	text-decoration: underline;
}

